@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand: #0ea5a4;
  --accent: #6366f1;
}

body{
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: linear-gradient(90deg, rgba(14,165,164,0.04), rgba(99,102,241,0.02));
}
